	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<a href="/" class="header__logo">
						<img src="images/logo.jpg" alt="">
					</a>
					<nav class="header__nav navb">
						<ul class="header__nav-ul">
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link active">Главная</a>
							</li>
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link">О сервисе</a>
							</li>
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link">Цены</a>
							</li>
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link">Переводчики</a>
							</li>
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link">Вакансии</a>
							</li>
							<li class="header__nav-registration">
								<i class="icon__key"></i>
								<a href="#" class="header__nav-registration-link">Регистрация</a>
							</li>
							<li class="header__nav-login">
								<i class="icon__user"></i>
								<a href="#" class="header__nav-login-link">Вход</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>